h1{
	background-color: gray;
}
#snake{

	margin-left: 0px;
	margin-top: 0px;
	border: solid 1px black;
	background-color: black;
	width:100px;
    height:100px;
    position: absolute;
}
section{
	border: solid 1px red;
	width: 500px;
	height: 500px;
}